* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$header-color: #2f3542;
$title-color: #f1f2f6;
$header-height: 27px;


$border-color-primary: #0fbcf9;

.editor {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .editor-top {
    height: $header-height;
    width: 100%;
    background: $header-color;
    line-height: $header-height;
    padding: 0 30px;
    box-shadow: 0 1px 1px #ddd;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    color: $title-color;

    .editor__logo {
      width: 196px;
      text-align: center;
      // border: 1px solid red;
      cursor: pointer;
      text-align: left;
      text-align: center;
    }


    .editor__toolbar {
      display: flex;
      list-style: none;
      justify-content: right;
      font-weight: normal;

      li {
        padding: 0 10px;
        // border: 1px solid red;
        cursor: pointer;
        transition: .1s;
        font-size: 12px;
        color: #ddd;

        &:hover {
          background-color: #1e272e;
        }
      }
    }
  }

  .editor-section {
    display: grid;
    grid-template-columns: 260px auto 360px;
    height: 100%;


    .editor-left,
    .editor-right {
      background: #fff;
      overflow-y: scroll;
      height: calc(100vh - $header-height);
    }

    .editor-left {
      padding: 0 10px;
      box-sizing: border-box;

      &__item {
        width: 100%;
        margin: 13px auto;
        min-height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        cursor: move;
        user-select: none;
        background: none;
        position: relative;
        border: 2px dashed $border-color-primary;
        transition: .3s;

        &:hover {
          border-color: $border-color-primary;

          >span {
            background: $border-color-primary;
          }
        }

        >span {
          position: absolute;
          top: 0;
          left: 0;
          background: #34e7e4;
          display: inline-block;
          min-width: 45px;
          text-align: center;
          box-sizing: border-box;
          padding: 3px 0;
          transition: .3s;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: none;
          // opacity: 0.2;
        }
      }
    }

    .editor-container {
      background: #f1f2f6;
      height: calc(100vh - $header-height);
      overflow: scroll;


      .editor__convans {
        margin: 0 auto;
        background: #fff;
        // box-shadow: 0 0 1px #000;

        .editor__convans-content {
          position: relative;

          .editor-block {
            // user-select: none;
            position: absolute;

            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: none;
            }

            &__foucs {
              &::after {
                border: 2px dashed $border-color-primary;
              }
            }
          }
        }
      }
    }
  }
}