* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$header-color: #2f3542;
$title-color: #f1f2f6;
$header-height: 27px;
$text-color-disabled: rgb(107, 105, 105);

$border-color-primary: #0fbcf9;

.editor {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .editor-top {
    height: $header-height;
    width: 100%;
    background: $header-color;
    line-height: $header-height;
    padding: 0 30px;
    box-shadow: 0 1px 1px #ddd;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    color: $title-color;

    .editor__logo {
      width: 196px;
      text-align: center;
      // border: 1px solid red;
      cursor: pointer;
      text-align: left;
      text-align: center;
    }

    .editor__toolbar {
      display: flex;
      list-style: none;
      justify-content: right;
      font-weight: normal;

      li {
        padding: 0 10px;
        cursor: pointer;
        transition: 0.1s;
        font-size: 12px;
        color: #ddd;

        &:hover {
          background-color: #1e272e;
        }
      }
    }
  }

  .editor-section {
    display: grid;
    grid-template-columns: auto 1fr 280px;
    height: 100%;
    // overflow: hidden;

    .editor-left,
    .editor-right {
      overflow-x: hidden;
      background: #fff;
      overflow-y: scroll;
      height: calc(100vh - $header-height);

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.1);
      }
    }

    .editor-right {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .editor-left {
      padding: 0 10px;
      box-sizing: border-box;
      max-width: 220px;
      min-width: 80px;
      position: relative;

      .componentslists {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      &__item {
        width: 80px;
        height: 80px;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 20px;
        box-sizing: border-box;
        cursor: move;
        user-select: none;
        background: none;
        position: relative;
        transition: 0.3s;
        border: 1px solid #000;

        &:hover {
          border-color: $border-color-primary;

          // >span {
          //   background: $border-color-primary;
          // }
        }

        > span {
          text-align: center;
          box-sizing: border-box;
          padding: 3px 0;
          transition: 0.3s;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: none;
          // opacity: 0.2;
        }
      }

      .menu-arrow {
        border: 1px solid #2f3542;
        padding: 2px;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 6px;

        &:hover {
          border-color: $border-color-primary;
          background: $border-color-primary;
          color: $title-color;
        }
      }
    }

    .editor-container {
      background: #f1f2f6;
      height: calc(100vh - $header-height);
      overflow: scroll;

      .editor__convans {
        position: relative;
        margin: 0 auto;
        // overflow: scroll;
        overflow: hidden;
        background: #fff;

        .line-x {
          position: absolute;
          top: 0;
          bottom: 0;
          border-left: 1px dashed $border-color-primary;
        }

        .line-y {
          position: absolute;
          left: 0;
          right: 0;
          border-top: 1px dashed $border-color-primary;
        }

        .editor__convans-content {
          position: relative;

          .editor-block {
            // user-select: none;
            position: absolute;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: none;
            }

            &__foucs {
              &::after {
                border: 2px dashed $border-color-primary;
              }
            }
          }
        }
      }
    }
  }
}

.el-sub-menu__title {
  margin-left: -4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  &:hover {
    color: $border-color-primary;
    background: none;
  }
  div {
    i {
      display: inline-block;
      width: 100%;
      font-size: 24px;
    }

    span {
      display: inline-block;
      margin-left: 20px;
      text-align: center;
    }
  }
}

@import "./components/index.scss";
